<section id="about">
  <h3 class = "aboutShow">About</h3>

  <div > Launched in 2004 as the Integrated Digital Media (IDM) Institute, IDM is the 'STEAM' program offered by NYU’s Tandon School of Engineering. Focusing on the intersection of engineering and creative practice, it is located within Tandon’s Department of Technology, Culture, and Society (TCS). That blend of theory and practice defines our program. It's what we mean by "integrated" - the powerful combination of emerging media and technology, creative mastery, and critical thinking. The Spring Show is part live performance, part technology demo, the Integrated Digital Media Showcase features work by genre-bending designers, artists and technologists studying at the NYU Tandon School of Engineering. This work is experimental, highly technical and simply cool.
</div>
</section>
