<section id="ticketsSubmit">
  <!--<h3 >Tickets/Submit</h3>-->
  <!--<div class="segment">-->
    <div class="item">
      <div class="alignVert">
        <div class="tickets"> Tickets coming in Spring 2018! </div>
      </div>
    </div>
  <!--</div>-->
  <div class="divideLine"></div>
  <!--<div class="header">-->
    <div class="item">
      <div class="alignVert">
        <div class="submit">Click the link below to submit! </div>
        <a id="submitTopLink" href="http://bit.ly/2AUmgG2" target="_blank" class="buttonLink submitContainer">Submit</a>
      </div>
    </div>
  <!--</div>-->

</section>
